body {
  padding-top: 5rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-container {
  text-align: left;
}

.table-hover {
  cursor: pointer;
}

#approve-button {
  width: 100px;
  vertical-align: middle;
  margin-left: 10rem;
}

.tag-name {
  display: inline-block;
  margin: 0;
}

.title-row {
  display: flex;
  align-items: center;
}

#delete-button, #cancel-button, #request-button {
  width: 100px;
  vertical-align: middle;
  margin-left: 2rem;
}

.main-button-group {
  margin-bottom: 1rem;
}

#tlv-request-list-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#inputDescription, #inputComments {
  white-space: pre-wrap;
}

#tag-status-0 {
  color: red;
}

#tag-status-1 {
  color: orange;
}

#tag-status-2 {
  color: green;
}
